{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block body_class 'floating-cards' %}

{% block body %}

<h1>{{ tag.name }}</h1>

{% include 'video/list.html.twig' with {'videos': tag.videos} %}

{% endblock %}
