{% extends 'layout/default.html.twig' %}

{% block body_extra_classes %}with-cards{% endblock %}

{% block content %}

	{# {% include 'food/_top_filters.html.twig' %} #}
	
	<div id="foods" class="cards">
		{% for picture in pictures %}
			{% include 'food/_card.html.twig' %}
		{% endfor %}
	</div>

{% endblock %}

