{% extends 'layout/default.html.twig' %}

{% block body_extra_classes %}with-cards{% endblock %}

{% block content %}
	
	<div id="foods" class="cards">
		{% for food in foods %}
			{% include 'food/_food_card.html.twig' %}
		{% endfor %}
	</div>

{% endblock %}

