{% extends 'layout/default.html.twig' %}

{% block content %}

	{% for meal in meals %}

		<h3>
			{{ meal.enjoyedAt|format_date('long') }}
			-
			{% for placeTag in meal.placeTags %}
				{{ placeTag|trans }}
			{% endfor %}
		</h3>


{% dump meal.medias %}

{% include 'food/_gallery.html.twig' with {medias: meal.medias } %}


{% dump meal.medias %}

	{% for media in meal.medias %}


		<img src="{{ uploaded_asset(media)|imagine_filter('thumb_card') }}"/>

		{% for tags in media.tags %}
			{{ tags|trans }}
		{% endfor %}

	{% endfor %}




	{% endfor %}

{% endblock %}

