{% extends 'layout/default.html.twig' %}

{% block content %}

	{% for meal in meals %}

		<h3>
			{{ meal.enjoyedAt|format_date('long') }}
			-
			{% for placeTag in meal.placeTags %}
				{{ placeTag|trans }}
			{% endfor %}
		</h3>

		{% include 'food/_gallery.html.twig' with {medias: meal.medias } %}

	{% endfor %}

{% endblock %}

