{% extends 'layout/default.html.twig' %}

{% block body_extra_classes %}with-cards{% endblock %}

{% block content %}

	{% include 'food/_top_filters.html.twig' %}
	
	<div id="foods" class="cards cards-tag">
		{% for tag in tags %}
			{% include 'food/_tag_card.html.twig' %}
		{% endfor %}
	</div>

{% endblock %}

