{% extends 'layout/default.html.twig' %}

{% block title %}
	{{ 'Food'|trans }}
{% endblock %}

{% block content %}
	
    <div id="food" class="cards">
        {% for food in foods %}
            <div class="card food-item">
                {{ food|trans }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
