{% extends 'layout/default.html.twig' %}

{% block title %}
	{{ 'Food'|trans }}
{% endblock %}

{% block content %}
	
    <div id="food" class="cards">
        {% for Food in Foods %}
            <div class="card food-item">
                {{ Food|trans }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
