body.floating-cards {
    background-color: #eeeeee;
}

.example-wrapper {
    margin: 1em auto;
    max-width: 1000px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 20px;
}
.item {

}

img {
    max-width: 100%;
}
