.tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: -10px;
    margin-right: -10px;
    padding: 0;
}
.tags > li {
    margin: 0 10px 10px 0;
}
.tags > li > a {
    padding: 3px 15px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    white-space: nowrap;
    vertical-align: text-bottom;
}
.tags > li > a i {
    margin-right: 5px;
}
.tag--channel {
    background-color: red;
}
.tag--tag {
    background-color: green;
}
.tag--person {
    background-color: black;
}
.tag--level {
    background-color: orange;
}
.tag--duration {
    background-color: purple;
}
