@layer content {

    .food-page {

        #rating {
            @apply text-lg;
            margin-bottom: 25px;
            .ranking-icon {
                @apply text-xl;
            }
        }

        #tags {
            margin-bottom: 20px;
        }

        #ingredients {
            margin-bottom: 30px;
        }

        #similar-foods {
            margin-bottom: 30px;
            .similar-foods-title {
                @apply text-lg;
                margin-right: 10px;
            }
        }

        #description {
            @apply text-lg;
            padding: 40px 50px;
            border: 4px dashed lavender;
            border-radius: 5px;
        }

        #media-groups {
            margin-top: 50px;
        }
    }
}