@layer content {

    .trip-page {

        #cover {
            margin-bottom: 30px;
        }

        #rating {
            @apply text-lg;
            margin-bottom: 30px;
            margin-top: 30px;
        }

        #description {
            margin-top: 30px;
            margin-bottom: 50px;
            @apply text-xl;
        }

        #stories {
            margin-top: 50px;
            .story {
                margin-bottom: 80px;
                &.no-title {
                    margin-top: -35px;
                }   
            }
            .story-description {
                @apply text-lg;
                margin-bottom: calc(var(--spacing) * 11);
            }
            .story-images:not(:last-child) {
                margin-bottom: calc(var(--spacing) * 11);
            }
        }

        #trips {
            margin-top: 60px;
        }
    }
}