@layer content {

    .trip-page {

        #cover {
            margin-bottom: 30px;
        }

        #rating {
            @apply text-lg;
            margin-bottom: 30px;
        }

        #description {
            margin-top: 30px;
            margin-bottom: 30px;
            @apply text-xl;
        }

        #highlights {
            margin-top: 50px;
            margin-bottom: 150px;
            .highlight {
                margin-bottom: 80px;            
            }
            .highlight-description {
                @apply text-lg;
                margin-bottom: calc(var(--spacing) * 8);            }
        }
    }
}