@layer content {

    /* trip index page */
    #trip-filters {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

        a {
            border: 1px solid white;
            border-radius: var(--radius-3xl);
            background-color: white;
            padding: 10px 15px;
            &.current {
                background-color: var(--color-theme);
                border: var(--color-theme);
                color: white;
            }
        }
    }

    .trip-page {

        #countries {
            margin-bottom: 20px;
        }

        #cover {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        #description {
            margin-bottom: 30px;
            @apply text-xl;
        }

        #highlights {
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}