{% extends 'layout/default.html.twig' %}

{% block body_extra_classes %}trip-page{% endblock %}

{% block content %}

    <div id="cover">
        <img src="{{ uploaded_asset(trip.cover)|imagine_filter('thumb_large') }}"/>
    </div>

    <div id="description">
        {{ trip.description(app.locale)|nl2br }}
    </div>

    <div id="highlights">
        {% for highlight in trip.highlights %}
            <img src="{{ uploaded_asset(highlight)|imagine_filter('thumb_card') }}" />
        {% endfor %}
    </div>

    <div id="countries">
        {% for country in trip.countries %}
            {{ country|trans }}
        {% endfor %}
    </div>

{% endblock %}
