{% extends 'base.html.twig' %}

{% block title %}{{ duration.label }}{% endblock %}

{% block body_class 'floating-cards' %}

{% block body %}

<h1>{{ duration.label }}</h1>

{% include 'video/list.html.twig' with {'videos': duration.videos} %}

{% endblock %}
