{% extends 'layout/default.html.twig' %}

{% block body_extra_classes %}with-cards{% endblock %}

{% block content %}
	
	<div id="foods" class="cards">
		{% for picture in pictures %}
			{% include 'food/_picture_card.html.twig' with {
				url: path('food_by_country_food', { slugCountry: country.slugEn, slugEn: picture.food.slugEn}) 
			} %}
		{% endfor %}
	</div>

{% endblock %}

