$cardPadding: 15px;

.card {
    background-color: #fff;
    padding: $cardPadding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card a {
    color: black;
    text-decoration: none;
}
.card img {
    margin-top: -$cardPadding;
    margin-left: -$cardPadding;
    margin-right: -$cardPadding;
    height: 200px;
    max-width: 320px;
}
.card h3 {
    font-size: 15px;
}
.card .tags {
    align-self: flex-end;
}
