$tagSpacing: 10px;
$tagPadding: 15px;

.tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$tagSpacing} -#{$tagSpacing} 0;
    padding: 0;
}
.tags > li {
    margin: 0 $tagSpacing $tagSpacing 0;
}
.tags > li > a {
    padding: 3px $tagPadding;
    color: white;
    text-decoration: none;
    font-size: 13px;
    white-space: nowrap;
    vertical-align: text-bottom;
}
.tags > li > a i {
    margin-right: 5px;
}
.tag--channel {
    background-color: $channelColor;
}
.tag--tag {
    background-color: $tagColor;
}
.tag--person {
    background-color: $personColor;
}
.tag--level {
    background-color: $levelColor;
}
.tag--duration {
    background-color: $durationColor;
}
