@layer components {
    .cards {
        display: grid;
        @apply grid-cols-1;
        @apply md:grid-cols-2;
        @apply lg:grid-cols-3;
        @apply xl:grid-cols-4;
        @apply gap-6;
        align-items: stretch;
        grid-auto-rows: minmax(100px, auto);
        /* make all grid items match the tallest item's height */
    }

    .card {
        background-color: var(--color-secondary-background);
        border: 1px solid var(--color-border);
        @apply rounded;

        /* without this flex column justify content, vertical alignment is buggy for subcategories */
        display: flex;
        flex-direction: column;
        justify-content: start;

        .dark & {
            border: none;
        }

        .card-image {
            height: 140px;
        }

        .card-info {
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 10px;
        }

        .card-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            span {
                margin-top: 9px;
            }
        }

        .card-period {
            margin-bottom: 3px;
        }

        .card-bottom {
            align-self: start;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            margin-top: auto;
            padding-top: 10px;
        }

        .card-headline {
        }

        .card-tags {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

}