 @layer components {
    #top-filters {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        &.multi-trip {
            gap: 3px;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--color-gray-300);
            border-radius: var(--radius-3xl);
            padding: 10px 15px;

            &.current {
                background-color: var(--color-theme);
                border: var(--color-theme);
                color: white;
            }
        }

        .trip-leg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @apply text-sm;
            white-space: wrap !important;
        }

        .trip-name {
            white-space: nowrap !important;
        }
        .trip-duration {
            font-style: italic;
            white-space: nowrap !important;
            @apply text-sm;
        }

        .trip-leg-divider {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .trip-leg-divider::after {
            content: '····';
        }
    }

    .with-cards #top-filters a {
        border: 1px solid var(--color-secondary-background);
        background-color: var(--color-secondary-background);

        &.current {
            background-color: var(--color-theme);
            border: var(--color-theme);
            color: white;
        }
    }

    #top-filters .order {
        margin-left: auto; /* position at the end */
        padding: 0;
        padding-left: 15px;
        display: flex;
        align-items: center;
        gap: 5px;
    }
 }