 @layer components {
    #top-filters {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        margin-bottom: 15px;

        a {
            border: 1px solid var(--color-gray-300);
            border-radius: var(--radius-3xl);
            padding: 10px 15px;

            &.current {
                background-color: var(--color-theme);
                border: var(--color-theme);
                color: white;
            }
        }
    }

    .with-cards #top-filters a {
        border: 1px solid var(--color-secondary-background);
        background-color: var(--color-secondary-background);

        &.current {
            background-color: var(--color-theme);
            border: var(--color-theme);
            color: white;
        }
    }
 }