 @layer components {
    #top-filters {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
        &.multi-trip {
            gap: 3px;
        }

        a {
            border: 1px solid var(--color-gray-300);
            border-radius: var(--radius-3xl);
            padding: 10px 15px;

            &.current {
                background-color: var(--color-theme);
                border: var(--color-theme);
                color: white;
            }
        }

        .trip-leg {
            display: flex;
            justify-content: center;
            align-items: center;
            @apply text-sm;
        }

        .trip-leg-divider {
            padding: 10px 0;
        }
        .trip-leg-divider::after {
            content: '····';
        }
    }

    .invisible-scroll {
        flex-wrap: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none;
        /* IE/Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    .invisible-scroll > * {
        white-space: nowrap;
    }

    .invisible-scroll::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }

    .with-cards #top-filters a {
        border: 1px solid var(--color-secondary-background);
        background-color: var(--color-secondary-background);

        &.current {
            background-color: var(--color-theme);
            border: var(--color-theme);
            color: white;
        }
    }

    #top-filters .order {
        margin-left: auto;
        padding: 10px;
    }
 }