{% extends 'base.html.twig' %}

{% block title %}{{ channel.name }}{% endblock %}

{% block body_class 'floating-cards' %}

{% block body %}

<h1>{{ channel.name }}</h1>

{% include 'video/list.html.twig' with {'videos': channel.videos} %}

{% endblock %}
