{% extends 'base.html.twig' %}

{% block title %}Videos{% endblock %}

{% block body %}
<h1>Videos</h1>

{% for video in videos %}
    <div>
        <p>
            <a href="{{ path('video_show', { slug: video.slug }) }}">
                {{ video.title }}
            </a>
            <ul class="tags">
                {% for tag in video.tags %}
                    <li>
                        <a href="{{ path('tag_show', { slug: tag.slug }) }}">{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
        </p>
    </div>
{% endfor %}

{% endblock %}
