<a class="btn-swipe-back" href="{{ path(subcategory) }}">
	<div>
		<twig:ux:icon name="forward" class="forward first" />
		<twig:ux:icon name="forward" class="forward"/>
		<twig:ux:icon name="forward" class="forward"/>
	</div>
	<div>
		Swipe right to go back
	</div>
	<div>
		<twig:ux:icon name="forward" class="forward first" />
		<twig:ux:icon name="forward" class="forward"/>
		<twig:ux:icon name="forward" class="forward"/>
	</div>
</a>
