{% extends 'base.html.twig' %}

{% block title %}People{% endblock %}

{% block body %}

<h1>People</h1>

{% for person in people %}
    <div>
        <p>
            <a href="{{ path('person_show', { slug: person.slug }) }}">
                {{ person.name }} ({{ person.videos|length }})
            </a>
        </p>
    </div>
{% endfor %}

{% endblock %}
