@layer components {
    .gallery {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-auto-rows: 1fr;
    }
        
    .gallery a {
        display: block;
        overflow: hidden;
        aspect-ratio: 1/1; /* or use object-fit to keep consistent tiles */
        position: relative;

        svg {
            position: absolute;
            top: 25%;
            right: 25%;
            width: 50%;
            color: white;
            opacity: 0.5;
        }
    }
        
    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}