 @layer components {
    .invisible-scroll {
        display: flex;
        flex-wrap: nowrap !important;
        overflow-x: auto;
        -ms-overflow-style: none; /* IE/Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* hack: Force width to be constrained to parent width */
    /* In some cases with flex **on parent**, element width might not be constrained */
    /* When that happens, scroll does not kick in because element expands */
    /* USE this to constrain element width to parent width */
    /* DO NOT USE IF base width behaviour must be retained */
    .invisible-scroll-force-width {
        width: 100%;
        min-width: 0;
    }             

    .invisible-scroll > * {
        white-space: nowrap;
    }

    .invisible-scroll::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }
 }