 @layer components {
    .invisible-scroll {
        display: flex;
        flex-wrap: nowrap !important;
        overflow-x: auto;
        -ms-overflow-style: none; /* IE/Edge */
        scrollbar-width: none; /* Firefox */
        /* hack: forces width to be constrained to parent width */
        /* In some cases of flex on parents, width might not be constrained without this */
        width: 100%;
        min-width: 0;
        /* end hack */
    }

    .invisible-scroll > * {
        white-space: nowrap;
    }

    .invisible-scroll::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }
 }