{% extends 'base.html.twig' %}

{% block title %}{{ level.label }}{% endblock %}

{% block body_class 'floating-cards' %}

{% block body %}

<h1>{{ level.label }}</h1>

{% include 'video/list.html.twig' with {'videos': level.videos} %}

{% endblock %}
