{# see comments in controller #}
{% if show %}
    <a class="forgotten-password" href="{{ path('password_reset_request') }}">
        {{ 'lost_password'|trans(domain='security') }}
    </a>
{% endif %}
